p {
    background-color: lightpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p:nth-of-type(2) {
    font-size: 24px;
}

#second {
    color: blue;
    font-size: 36px;
}

#fourth {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}